DINGOLYTICS_IMAGE_TAG=latest
COMPOSE_PROJECT_NAME=dingolytics

# For production web server / proxy
# WEB_HOST=example.com
# WEB_HOST_LETSENCRYPT_EMAIL=me@example.com

# For local development
WEB_HOST=:8001
WEB_HOST_LETSENCRYPT_EMAIL=internal

SECRET_KEY=<secret-key-a [CHANGE ME!]>
DATASOURCE_SECRET_KEY=<secret-key-b [CHANGE ME!]>

CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=<ch-secret-password [CHANGE ME!]>
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_INIT_TIMEOUT=60

POSTGRES_DB=dingolytics
POSTGRES_USER=dingolytics
POSTGRES_PASSWORD=<db-secret-password [CHANGE ME!]>
